<div class="card">
    <h3 class="card-header">Edit Blog</h3>
    <form class="card-body edit-blog-form">
        <label for="blog-title" class="form-label">Title</label>
        <input name="blog-title" type="text" value="{{blog.title}}" class="form-input" />
        <label class="form-label" for="content">Content</label>
        <input name="content" type="text" value="{{blog.content}}" class="form-input" />
        <button type="submit" class="btn">Update Blog</button>
        <button type="button" class="delete-blog-btn btn">Delete Blog</button>
    </form>
</div>
