<div class="card">
    <h3 class="card-header">Create New Post</h3>
    <form class="card-body new-blog-form" id="new-blog-form">
        <label for="blog-title" class="form-label">Title</label>
        <input type="text" id="blog-title" name="blog-title" class="form-input" />


        <label class="form-label" for="content">Content</label>
        <input id="content" name="content" class="form-input" />

        <button type="submit" class="btn">Create</button>
    </form>
</div>
